*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-image: url("https://i.ibb.co/9y38MZQ/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.short-text{
  display: none;
}

.nav-link, .navbar-brand{
  color:white;
}
ul{
  text-align: right;
}
h1{
  color:white;
  font-weight: bolder;
  font-size: 3em;
}
.planetImg{
  height:250px;
}
.planetInfo p {
  padding-top: 25px;
  text-align: justify;
  color: white;
  font-size: 1.2em;
}
.img-text-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 500px;
 margin-left: 20%;

}
.planetInfo{
 
  line-height: 1.6em;
  letter-spacing: .05em;
  padding: 30px;
  margin-top: 200px;
  margin-left: 50px;
}
.planet-button{
  display: flex;
  flex-direction: column;
}
.planet-button button{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
  border-radius: 5px;
  padding: 15px;
  color: white;
  background-color: transparent;
  font-size: 1em;
}
.planet-button button:hover{
  background-color: #6D2ED5;
  cursor: pointer;
  font-weight: bold;
}
.planet-stats{
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 150px;
}
.planet-stats-style{
  border:.5px solid lightgrey;
  padding: 5px;
  width: 200px;
  margin: 10px;
}
.planet-stats-style p:nth-child(2){
  font-size: 1.5em;
  font-weight: bolder;
  padding: 10px;
}
@media only screen and (max-width: 1201px) {
  .img-text-container{
    flex-direction: column;
   margin-top: 100px;
   margin-right: 15%;
  }
  .planetImg{
    position: absolute;
    top: 130px;
    left: 40%;
    height: 200px;
  }
  .planetInfo{
    height: 300px;
    display: flex;
  }
  .planetInfo p{
    max-width: 40vw;
  }
  .planet-heading-info{
    margin-right:10%;
    margin-left:0px;
  }
 .planet-button{
   margin-right: 15%;
   margin-top: 5%;
 }
 .planet-stats{
   margin-right:15%;
  margin-bottom: 5%;
 }
 .navbar-nav{
   margin-right: 15%;
 }
}
@media only screen and (max-width: 770px) {
  .planetImg{
    left: 35%;
  }
  .planet-button{
   margin-right:200px;
  }
  .planet-button button{
    width: 20vw;
  }
  .planet-stats{
    margin-left: 15%;
    margin-top: 35%;
  }
  }
  @media only screen and (max-width: 540px) {
    .img-text-container{
      margin-right: 40%;
    }
    .planetImg{
      left: 30%;
    }
   
    .planetInfo p{
      width:400px;
    }
    .planet-stats{
      display: flex;
      flex-direction: column;
      padding-top:100px;
      margin-left: 20%;
    }
    .planet-button{
      position:absolute;
      top: -2vh;
      flex-direction: row;
      right:0px;
      left: 150px;
      }
      .planet-button button{
        border:none;
      }
      .planet-button button:hover{
        border-bottom: 1px solid #B1D5E2;
        padding-bottom: 3px;
        background-color: transparent;
        padding:0px;
      }
      .full-text{
        display: none;
      }
      .short-text{
        display: inline;
      }
    }
    @media only screen and (max-width: 420px) {
      .planetImg{
        left: 20%;
      }
      .img-text-container{
        margin-left: 20%;
      }
      .planet-button{
        top: -4vh;
      }
      .planet-stats{
        padding-top:200px;
        margin-right: 20%;
      }

    }
    @media only screen and (max-width: 420px) {
      .planet-stats{
        margin-right: 60%;
      }
    }
