*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-image: url("https://i.ibb.co/9y38MZQ/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-item{
  
  text-decoration: none;
}
.short-text{
  display: none;
}

.nav-link, .navbar-brand{
  color:white;
}
ul{
  text-align: right;
}
h1{
  color:white;
  font-weight: bolder;
  font-size: 3em;
}
.planetImg{
  height:250px;
}

.planetInfo p {
  padding-top: 25px;
  color: white;
  font-size: 1.2em;
  width: 45%;
}
.img-text-container{
  display: flex;
  flex-direction: row;
  align-items: center;

 margin-left: 20%;

}
.planetInfo{
 
  line-height: 1.6em;
  letter-spacing: .05em;
  padding: 30px;
  margin-top: 200px;
  margin-left: 50px;
}
.planet-button{
  display: flex;
  flex-direction: column;
}
.planet-button button{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
  border-radius: 5px;
  padding: 15px;
  color: white;
  background-color: transparent;
  font-size: 1em;
}
.planet-button button:hover{
  background-color: #6D2ED5;
  cursor: pointer;
  font-weight: bold;
}
.planet-stats{
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 10%;
}
.planet-stats-style{
  border:.5px solid lightgrey;
  padding: 5px;
  width: 200px;
  margin: 10px;
}
.planet-stats-style p:nth-child(2){
  font-size: 1.5em;
  font-weight: bolder;
  padding: 10px;
}
.planet-container{
  margin-bottom: 20%;
}
@media only screen and (max-width: 1200px) and (min-width: 1025px){
  .img-text-container{
    flex-direction: row;
   margin-right: 15%;
  }
  .planetImg{
    margin-top: 100%;
  }
  
  .planetInfo{
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .planetInfo p{
    width: 100%;
  }
  .planet-heading-info{
    margin-right:10%;
    margin-left:0px;
  }
 .planet-button{
   margin-right: 15%;
   margin-top: 5%;
 }
 .planet-stats{
   margin-right:0%;
  margin-top: 40%;
  margin-bottom: 15%;
 }
 .navbar-nav{
   margin-right: 15%;
 }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  
  .planetInfo p{
    width:400px;
    line-height: 1.6em;
    letter-spacing: normal;
    text-align: justify;
  }
  .planet-button{
   margin-right:200px;
  }
  .planet-button button{
    width: 20vw;
  }
  .planet-stats{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 25%;
  }
  
  }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .img-text-container{
      margin-right: 40%;
      flex-direction: column;
    }
    .planetImg{
      margin-top: 80%;
      margin-left: 30%;
    }
    .planetInfo{
      margin-top: 10%;
      margin-left: 30%;
    }
    .planetInfo p{
      line-height: 1.7em;
      letter-spacing: .1em;
      width: 250px;
    }
    .planet-stats{
      display: flex;
      flex-direction: column;
      margin-left: 30%;
      margin-top: 2%;
    }
    .planet-button{
      position:absolute;
      top:3%;
      flex-direction: row;
      right:0px;
      left: 2%;
      }
      .planet-button button{
        border:none;
        margin-left: 5px;
      }
      .planet-button button:hover{
        border-bottom: 5px solid #B1D5E2;
        padding-bottom: 3px;
        background-color: transparent;
       
      }
      .full-text{
        display: none;
      }
      .short-text{
        display: inline;
      }
    }
    @media only screen and (max-width: 480px) and (min-width: 320px) {
      .img-text-container{
        margin-right: 40%;
        flex-direction: column;
      }
      .planet-heading-info{
        margin-left: 10%;
      }
      .planetImg{
        margin-top: 80%;
        margin-left: 10%;
      }
      .planetInfo{
        margin-top: 10%;
        margin-left: 30%;
      }
      .planetInfo p{
        line-height: 1.7em;
        letter-spacing: .1em;
        width: 250px;
      }
      .planet-stats{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        margin-top: 2%;
      }
      .planet-button{
        position:absolute;
        top:3%;
        flex-direction: row;
        right:0px;
        left: 2%;
        }
        .planet-button button{
          border:none;
          margin-left: 5px;
        }
        .planet-button button:hover{
          border-bottom: 5px solid #B1D5E2;
          padding-bottom: 3px;
          background-color: transparent;
         
        }
        .full-text{
          display: none;
        }
        .short-text{
          display: inline;
        }
      
    }
