*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-image: url("https://i.ibb.co/9y38MZQ/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color:white;
  font-weight: bolder;
  font-size: 3em;
}
.planetImg{
  height:250px;
}
.planetInfo p {
  padding-top: 25px;
  text-align: justify;
  color: white;
  font-size: 1.2em;
}
.img-text-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;

}
.planetInfo{
  width: 500px;
  line-height: 1.6em;
  letter-spacing: .05em;
  padding: 30px;
  margin-top: 200px;
  margin-left: 50px;
}
.planet-button{
  display: flex;
  flex-direction: column;
}
.planet-button button{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
  border-radius: 5px;
  padding: 15px;
  color: white;
  background-color: transparent;
  font-size: 1em;
}
.planet-button button:hover{
  background-color: #6D2ED5;
  cursor: pointer;
  font-weight: bold;
}
